<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LicenseReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LicenseReport.Properties.Settings>
            <setting name="Instance" serializeAs="String">
                <value />
            </setting>
            <setting name="Catalog" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginType" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="TillDate" serializeAs="String">
                <value />
            </setting>
        </LicenseReport.Properties.Settings>
    </userSettings>
</configuration>